{% extends 'base.html' %}

{% block title %}
Photo List
{% endblock %}

{% block content %}
    <div class="col-6">
        {% for object in object_list %}
        <div class="card" style="margin-top:2em;">
            <div class="card-header">
                {{object.author.username}}
            </div>
            <img src="{{object.image.url}}" class="card-img-top">
            {% if object.text %}
            <div class="card-body">
                <p class="card-text"> {{object.text}} </p>
                <p class="card-text"><small class="text-muted"> Last updated {{object.updated}} </small></p>
            </div>
            {% endif %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Like Save</li>
            </ul>
            <div class="card-body">
                <a href="{{object.get_absolute_url}}" class="card-link">댓글 달기</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

